<html>
    <head>

    </head>
    <body>
        <form method="post" action="">
            {% csrf_token %}
            {{ register_form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'user-login' %}">Login here</a></p>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
