{% extends "front-end/base.html" %}

{% block main_block %}
    <div class="container bg-light mt-2 rounded">
        <h4>Unit Name: {{ unit.unit_name}}</h4>
        <h4>Unit Code: {{ unit.unit_code }}</h4>
    </div>
    <div class="container mt-3">
        {% if documents %}
        <div class="container">
            <table class="table table-striped bg-white rounded">
                <thead>
                    <tr>
                        <th>Document Name</th>
                        <th>Document Type</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.document_name }}</td>
                            <td>{{ document.get_document_type_display }}</td>
                            <td><a href="{{ document.document_file.url }}" class="btn btn-primary" target="_blank">Download</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                <strong>No Documents found!</strong>
            </div>
        {% endif %}
    </div>
{% endblock %}  