{% extends "front-end/base.html" %}
{% load crispy_forms_tags %}

{% block main_block %}
<div class="container">
    <h1 class="text-center mt-4">Welcome to TVET AI</h1>
    <p class="text-center">Your gateway to personalized learning plans and resources.</p>
    <div class="text-center mt-4">
        <a href="{% url 'learning-plan' %}" class="btn btn-primary btn-lg">Create Learning Plan</a>
        <a href="{% url 'session-plan' %}" class="btn btn-primary btn-lg">Create Session Plan</a>
    </div>
</div>
{% endblock main_block %}