{% extends "front-end/base.html" %}

{% block main_block %}
<div class="container">
    <h3 class="h3 text-center mt-3 mb-3">{{ department.department_name }}</h3>
    <p class="text-center mb-3">Explore our various courses offered in the departments.</p>
</div>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#basic">Basic Units</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#core">Common Units</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#common">Core Units</a>
  </li>
</ul>
<div class="container tab-content">
    <div class="tab-pane container active" id="basic">
        <h4 class="h4 text-center mt-3 mb-3">Basic Units</h4>
        {% if units %}
        {% for unit in units  %}
        {% if unit.competency == "BC" %}
        <div class="row justify-content-center mb-4 bg-white p-3 rounded">
            <div class="col-md-2 col-sm-12">
                <div class="text-center h1">📋</div>
            </div>
            <div class="col-md-8 col-sm-12 align-content-around">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center h3">{{ unit.unit_name}}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12">
                        <p class="text-center">{{ unit.unit_code }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <a href="{% url 'documents' unit.id %}" class="btn btn-outline-info rounded">View Resources </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                <strong>No Basic Units found!</strong> Please check back later.
            </div>
        {% endif %}
    </div>

    <div class="tab-pane container fade" id="core">
        <h4 class="h4 text-center mt-3 mb-3">Core Units</h4>
        {% if units %}
        {% for unit in units  %}
        {% if unit.competency == "CR" %}
        <div class="row justify-content-center mb-4 bg-white p-3 rounded">
            <div class="col-md-2 col-sm-12">
                <div class="text-center h1">📋</div>
            </div>
            <div class="col-md-8 col-sm-12 align-content-around">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center h3">{{ unit.unit_name}}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12">
                        <p class="text-center">{{ unit.unit_code }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <a href="{% url 'documents' unit.id %}" class="btn btn-outline-info rounded">View Resources </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                <strong>No Basic Units found!</strong> Please check back later.
            </div>
        {% endif %}
    </div>

    <div class="tab-pane container fade" id="common">
        <h4 class="h4 text-center mt-3 mb-3">Common Units</h4>
        {% if units %}
        {% for unit in units  %}
        {% if unit.competency == "CC" %}
        <div class="row justify-content-center mb-4 bg-white p-3 rounded">
            <div class="col-md-2 col-sm-12">
                <div class="text-center h1">📋</div>
            </div>
            <div class="col-md-8 col-sm-12 align-content-around">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center h3">{{ unit.unit_name}}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12">
                        <p class="text-center">{{ unit.unit_code }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center">
                        <a href="{% url 'documents' unit.id %}" class="btn btn-outline-info rounded">View Resources </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                <strong>No Basic Units found!</strong> Please check back later.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %} 